*{
  font-family: "Times New Roman";
} 
.container{
  display:flex;
  flex-direction: column;
  height:100vh;
}
.header{
  background-color: lightgrey;
  flex:20%;
  background-image: url("images/Beige Minimalist YouTube Channel Banner.png") center/100%;
  aspect-ratio: 6/1;
}
.menu{
  flex:5%;
  background: #22C1C3;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.content{
  flex:65%;
}
.footer{
  flex:10%;
  background: #22C1C3;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.f1 {
  font-style: italic;
  font-weight:bold;
  font-size: 50px;
  font-family: "Times New Roman";
  text-align: center;
  text-transform: uppercase;
  color: blue;
}
.f2 {
  font-style: italic;
  font-weight:bold;
  font-size: 30px;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: red;
}
.menu a{
  padding: 15px;20px;}
.menu hover{
  background-color: litghtgrey;
  color:black;}
